Repository WeningerII/vtt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache, prisma format --schema apps/server/prisma/schema.prisma

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --fix --max-warnings=0 --cache"
  ],
  "**/*.{css,scss,less}": [
    "prettier --write --cache"
  ],
  "**/*.{md,mdx}": [
    "prettier --write --cache"
  ],
  "**/*.{json,yml,yaml}": [
    "prettier --write --cache"
  ],
  "apps/server/prisma/*.prisma": [
    "prisma format --schema apps/server/prisma/schema.prisma"
  ]
}

Add VTT Client Migration Guide
  apps/client/MIGRATION_GUIDE.md
Due: prettier --write --cache

Introduce migration tooling and documentation scaffolding
  apps/client/package.json
  apps/client/scripts/migrations/.gitignore
  apps/client/scripts/migrations/MIGRATION_SUMMARY.md
  apps/client/scripts/migrations/README.md
Due: prettier --write --cache

Remove legacy fix scripts as part of migration cleanup
  apps/client/fix-all-final-errors.js
  apps/client/fix-all-remaining-errors.js
  apps/client/fix-all-ts-comprehensive.js
  apps/client/fix-all-typescript-errors.js
  apps/client/fix-final-remaining-errors.js
  apps/client/fix-final-ts-errors.js
  apps/client/fix-remaining-errors-final.js
  apps/client/fix-remaining-ts-errors.js
  apps/client/fix-syntax-errors.js
  apps/client/fix-syntax-issues.js
  apps/client/fix-typescript-errors.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Adds repo review.
  COMPREHENSIVE_REPO_REVIEW.md
Due: prettier --write --cache

Fixes typo.
  apps/server/src/genesis/openrouter.ts
  apps/server/src/genesis/service.ts
  apps/server/src/genesis/types.ts
  apps/server/src/genesis/utils.ts
  apps/server/src/routes/genisis.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Updates .gitignore to exclude logs.
  .gitignore
Due: none

feat(env-validation): Add environment variable validation module
  apps/server/src/config/env-validation.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat(server): Wire up startup env validation and adapt Discord OAuth integration
  apps/server/src/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor(database): Add fallback logger for Prisma client initialization
  apps/server/src/database/connection.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

build(core): Update tsconfig rootDir to src for core package
  packages/core/tsconfig.json
Due: prettier --write --cache

refactor(spellcasting): Safe-guard spell slot retrieval by filtering undefined values
  packages/content-5e-srd/src/SpellcastingClasses.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Removes Turbo build log artifacts
  apps/bots/.turbo/turbo-build.log
  apps/editor/.turbo/turbo-build.log
  packages/physics/.turbo/turbo-build.log
Due: none

Adds CI and security workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: prettier --write --cache

Add IMMEDIATE_ACTIONS_COMPLETED.md - Completion summary of high-priority actions
  IMMEDIATE_ACTIONS_COMPLETED.md
Due: prettier --write --cache

Add ENV_VARIABLES.md with comprehensive environment variable documentation for VTT
  ENV_VARIABLES.md
Due: prettier --write --cache

Package.json tooling and dependency placement adjustments
  package.json
Due: prettier --write --cache

tsconfig.base.json adjustments to relax strict TypeScript checks (temporary)
  tsconfig.base.json
Due: prettier --write --cache

Adds pnpm-lock.yaml.
  pnpm-lock.yaml
Due: prettier --write --cache
