Repository WeningerII/vtt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache, prisma format --schema apps/server/prisma/schema.prisma

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --fix --max-warnings=0 --cache"
  ],
  "**/*.{css,scss,less}": [
    "prettier --write --cache"
  ],
  "**/*.{md,mdx}": [
    "prettier --write --cache"
  ],
  "**/*.{json,yml,yaml}": [
    "prettier --write --cache"
  ],
  "apps/server/prisma/*.prisma": [
    "prisma format --schema apps/server/prisma/schema.prisma"
  ]
}

fix(server): improve type safety and remove duplicate utility functions
  apps/server/src/routes/conditions.ts
  apps/server/src/routes/encounters.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

ci: align workflows to pnpm@9.12.2 and Node 20; chore: ignore .nyc_output; chore: stop tracking turbo cache logs
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .gitignore
  .husky/pre-commit
  apps/client/.turbo/turbo-build.log
  packages/content-yjs/.turbo/turbo-build.log
  packages/los-fov/.turbo/turbo-build.log
  packages/math-geo/.turbo/turbo-build.log
  packages/pathfinding-wasm/.turbo/turbo-build.log
  packages/plugins/.turbo/turbo-build.log
  packages/tooling/.turbo/turbo-build.log
  services/files/.turbo/turbo-build.log
Due: prettier --write --cache

chore(server): commit pending changes in routes/middleware/utils; chore(content-creation): package.json
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/middleware/validation.ts
  apps/server/src/routes/assets.ts
  apps/server/src/routes/conditions.ts
  apps/server/src/routes/maps.ts
  apps/server/src/utils/json.ts
  packages/content-creation/package.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: update campaign service to use in-memory state management
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write --cache

chore: refine lint tooling and workflows
  .eslintignore
  .eslintrc.js
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  reload-windsurf.sh
  vtt.code-workspace
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

ci: centralize pnpm setup across workflows
  .github/actions/install-deps/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-actions-smoke.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security.yml
  .trufflehogignore
  docs/ci-dedupe-plan.md
  docs/security/rotation-log.md
  docs/security/trufflehog-remediation.md
Due: prettier --write --cache

chore: stabilize security automation
  .checkov.yaml
  .github/workflows/security.yml
  infra/k8s/base/deployment-server.yaml
  infra/k8s/base/job-db-migrate.yaml
  infra/k8s/cloud-agnostic/ingress.yaml
  infra/k8s/cloud-agnostic/server-deployment.yaml
Due: prettier --write --cache

chore(server): clean type checks and tighten build
  apps/server/package.json
  apps/server/src/ai/character.ts
  apps/server/src/ai/content.ts
  apps/server/src/ai/service.ts
  apps/server/src/assets/AssetService.ts
  apps/server/src/auth/auth-manager.ts
  apps/server/src/auth/oauth/config.ts
  apps/server/src/campaign/CampaignService.ts
  apps/server/src/character/CharacterService.ts
  apps/server/src/integration/GameEventBridge.ts
  apps/server/src/map/MapService.ts
  apps/server/src/middleware/auth.ts
  apps/server/src/middleware/csrf.ts
  apps/server/src/middleware/errorHandler.ts
  apps/server/src/middleware/metrics.ts
  apps/server/src/middleware/unified-auth.ts
  apps/server/src/routes/ai-content-helpers.ts
  apps/server/src/routes/ai-content.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/campaigns.ts
  apps/server/src/routes/characters.ts
  apps/server/src/routes/combat.ts
  apps/server/src/routes/encounter.ts
  apps/server/src/routes/metrics.ts
  apps/server/src/routes/test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor(ai): remove eslint noise from character/content generation
  apps/server/src/ai/character.ts
  apps/server/src/ai/content.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor(combat): tighten typing for ai recommendations
  apps/server/src/ai/combat.ts
  apps/server/src/routes/combat.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: tighten websocket typing and metrics helpers
  apps/server/src/index.ts
  apps/server/src/middleware/metrics.ts
  apps/server/src/routes/metrics.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/routes/vtt.ts
  apps/server/src/utils/json.ts
  apps/server/src/utils/router.ts
  apps/server/src/websocket/combatEvents.ts
  apps/server/src/websocket/redis-adapter.ts
  apps/server/src/websocket/vttSocketManager.ts
  apps/server/src/websocket/websocket-server.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: harden pre-commit tooling
  .husky/pre-commit
  jest.config.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor(server): improve auth and route type safety
  apps/server/src/ai/assistant.ts
  apps/server/src/ai/service.ts
  apps/server/src/auth/auth-manager.ts
  apps/server/src/auth/index.ts
  apps/server/src/auth/oauth/__tests__/routes.test.ts
  apps/server/src/auth/oauth/config.ts
  apps/server/src/auth/oauth/routes.ts
  apps/server/src/routes/assets.ts
  apps/server/src/routes/assistant.ts
  apps/server/src/routes/characters.ts
  apps/server/src/routes/conditions.ts
  apps/server/src/routes/content.ts
  apps/server/src/routes/encounter.ts
  apps/server/src/routes/encounters.ts
  apps/server/src/routes/games.ts
  apps/server/src/routes/genesis.ts
  apps/server/src/routes/genisis.ts
  apps/server/src/routes/maps.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: improve service initialization with type safety and error handling
  apps/server/src/routes/encounter.ts
  apps/server/src/routes/genesis.ts
  apps/server/src/routes/maps.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: remove empty lines from turbo build log
  packages/physics/.turbo/turbo-build.log
Due: none

refactor: replace loose any types across subsystems
  .eslintrc.js
  apps/bots/src/ws-smoke.ts
  packages/auth/src/AuthManager.ts
  packages/auth/src/AuthorizationManager.ts
  packages/auth/src/SecurityMiddleware.ts
  packages/auth/src/SecurityUtils.ts
  packages/auth/src/__tests__/GoogleOAuthProvider.test.ts
  packages/auth/src/database/UserRepository.ts
  packages/auth/src/index.ts
  packages/auth/src/providers/DiscordOAuthProvider.ts
  packages/auth/src/providers/GoogleOAuthProvider.ts
  packages/auth/src/types.ts
  packages/auth/src/utils/OAuthStateManager.ts
  packages/monster-ai/src/MonsterAI.ts
  packages/physics/src/PhysicsWorld.ts
  packages/physics/src/SpatialGrid.ts
  packages/rules-5e/src/SpellSystem.ts
  packages/rules-5e/src/combat/CombatEngine.ts
  packages/rules-5e/src/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: migrate ts-jest config to use transform object instead of globals
  apps/bots/.turbo/turbo-build.log
  apps/editor/.turbo/turbo-build.log
  jest.config.js
  services/auth/.turbo/turbo-build.log
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: update build tooling and AI integrations
  .github/workflows/deploy-production.yml
  .github/workflows/production-deployment.yml
  apps/client/package.json
  apps/client/vite.config.mts
  apps/client/vite.config.performance.mts
  apps/server/package.json
  apps/server/src/ai/service.ts
  apps/server/tsconfig.json
  package.json
  packages/ai/tsconfig.json
  packages/auth/src/SecurityMiddleware.ts
  packages/combat/tsconfig.json
  packages/conditions-engine/package.json
  packages/config/package.json
  packages/content-management/package.json
  packages/core-ecs/tsconfig.json
  packages/core/src/WebGPUContextManager.ts
  packages/dice-engine/src/DiceEngine.test.ts
  packages/dice-engine/src/DiceEngine.ts
  packages/security/package.json
  packages/tooling/package.json
  packages/ui/package.json
  packages/user-management/package.json
  packages/user-management/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

ci: install libpng-dev dependency for build and lint workflows
  .github/workflows/ci.yml
Due: prettier --write --cache

chore: replace manual WebGPU type definitions with triple-slash directive
  packages/physics/src/AdvancedPhysicsEngine.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(server): add internal workspace packages and update lockfile
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore: ignore root out/ directory (generated build artifacts)
  .gitignore
Due: none

chore: improve CI workflow and license checker with nlf fallback and non-blocking warnings
  .github/workflows/ci.yml
  scripts/license-check.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: enhance Docker builds with improved TypeScript stubs and debug logging
  .github/workflows/docker-publish.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
  packages/physics/.turbo/turbo-build.log
Due: prettier --write --cache

ci: improve Trivy vulnerability scanner reliability with debug logging and error handling
  .github/workflows/ci.yml
Due: prettier --write --cache

refactor: replace direct libpng-dev installation with reusable setup-native-deps action
  .github/actions/setup-native-deps/action.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
Due: prettier --write --cache

feat: add net package to Docker build and improve tsconfig file handling
  apps/server/Dockerfile
Due: none

feat: optimize Docker build by generating Prisma client early and excluding test files from TypeScript compilation
  apps/server/Dockerfile
Due: none

fix: correct GitHub Actions secret existence checks in deployment workflow
  .github/workflows/deploy-production.yml
Due: prettier --write --cache

fix: add expression syntax to GitHub Actions secret conditions
  .github/workflows/deploy-production.yml
  docs/DEPLOYMENT_SETUP.md
  scripts/setup-deployment.sh
Due: prettier --write --cache

fix: resolve critical TypeScript compilation errors
  packages/core-ecs/src/adapters/MonsterStatblockAdapter.ts
  packages/core-ecs/src/bridges/ConditionSyncService.ts
  packages/core-ecs/src/bridges/ECSBridgeService.ts
  packages/core-ecs/src/components/Transform2D.ts
  packages/core-ecs/src/systems/MonsterAISystem.ts
  packages/core-ecs/tsconfig.json
  packages/physics/src/PhysicsWorld.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix(ai): strict types for BehaviorTree and ProceduralBehaviorGenerator; clean ESLint warnings
  packages/ai/src/BehaviorTree.ts
  packages/ai/src/ProceduralBehaviorGenerator.ts
  packages/core-ecs/src/adapters/MonsterStatblockAdapter.ts
  packages/core-ecs/src/systems/CombatSystem.ts
  packages/core-ecs/src/systems/ConditionSystem.ts
  packages/core-ecs/src/systems/HealthSystem.ts
  packages/core-ecs/src/systems/MonsterAISystem.ts
  packages/core-ecs/src/systems/MovementSystem.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(ai,core-ecs): fix ESLint types and rules in BehaviorTree, ProceduralBehaviorGenerator; clean up tests and logs; remove unused imports/vars
  packages/core-ecs/src/__tests__/Vision.test.ts
  packages/core-ecs/src/__tests__/World.test.ts
  packages/core-ecs/src/core/ComponentManager.ts
  packages/core-ecs/src/index-minimal.ts
  packages/core-ecs/src/test/CombatSystem.performance.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: improve type safety by replacing any with specific interfaces and types
  packages/core-ecs/src/World.ts
  packages/core-ecs/src/bridges/ConditionSyncService.ts
  packages/core-ecs/src/bridges/ECSBridgeService.ts
  packages/core-ecs/src/components/Conditions.ts
  packages/core-ecs/src/components/Vision.ts
  packages/core-ecs/src/core/SparseSet.ts
  packages/core-ecs/src/index.ts
  packages/core-ecs/src/services/EquipmentIntegrationService.ts
  packages/core-ecs/src/systems/AILearningSystem.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Update package configurations and tests
  .pnpm-store/v3/files/49/b29b00d90deb4dd58b88c466fe3d2de549327e321b0b1bcd9c28ac4a32122badb0dde725875b3b7eb37e1189e90103a4e6481640ed9eae494719af9778eca1-index.json
  .pnpm-store/v3/files/83/14e81e68bda1304d074e548d4b2b59fd0ec8de595ed0f46a939aac2d4a231db7d95a775a2991372dfcd7443378d4a0c83e6bb1a2035e5c656e73b3968ba8fb-index.json
  .pnpm-store/v3/files/c9/2f90e62de105fec6064778286f1aede04d3563462d3684c306165228c860cef3ae56033340455c78e33d6956675460ed469d7597880e68bd8c5dc79aa890db-index.json
  apps/bots/.turbo/turbo-build.log
  apps/editor/.turbo/turbo-build.log
  packages/combat/package.json
  packages/combat/src/CombatEngine.test.ts
  packages/core-ecs/src/bridges/ConditionSyncService.ts
  packages/core-ecs/src/bridges/ECSBridgeService.ts
  packages/core-ecs/src/test/CombatSystem.performance.test.ts
  packages/dice-engine/jest.config.cjs
  packages/dice-engine/package.json
  packages/dice-engine/src/DiceEngine.test.ts
  packages/los-fov/package.json
  packages/monster-abilities/package.json
  packages/net/package.json
  packages/physics/.turbo/turbo-build.log
  packages/renderer/package.json
  packages/security/jest.config.js
  packages/security/package.json
  packages/security/src/__tests__/AuthenticationManager.test.ts
  packages/security/src/__tests__/RateLimiter.test.ts
  packages/security/src/__tests__/test-utils.ts
  packages/token-management/package.json
  packages/token-management/tsconfig.json
  packages/utils/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  services/auth/.turbo/turbo-build.log
  tsconfig.base.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Update authentication routes and session/token management
  apps/server/src/routes/auth.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/routes/tokens.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: add strict TypeScript types for game client message handling
  packages/net/src/Client.ts
  packages/net/src/GameClient.ts
  packages/net/src/GameSession.ts
  packages/net/src/Protocol.ts
  packages/net/src/ServerRoom.ts
  packages/net/src/prediction/ClientPrediction.ts
  packages/net/src/prediction/index.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

refactor: add type safety and standardize string literals across content generators
  packages/content-creation/src/ProceduralGenerators.ts
  packages/content-creation/src/ProfessionalContentSuite.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: disable explicit-any rule for packages and services directories
  .eslintrc.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: update GitHub Actions permissions and Windows runner to 2022 for stability
  .github/workflows/ci-actions-smoke.yml
  .github/workflows/e2e-nightly.yml
  .trufflehogignore
Due: prettier --write --cache
