Repository WeningerII/vtt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache, prisma format --schema apps/server/prisma/schema.prisma

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write --cache",
    "eslint --fix --max-warnings=0 --cache"
  ],
  "**/*.{css,scss,less}": [
    "prettier --write --cache"
  ],
  "**/*.{md,mdx}": [
    "prettier --write --cache"
  ],
  "**/*.{json,yml,yaml}": [
    "prettier --write --cache"
  ],
  "apps/server/prisma/*.prisma": [
    "prisma format --schema apps/server/prisma/schema.prisma"
  ]
}

test: update auth integration tests to use new session management and JWT
  tests/integration/auth.integration.test.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: remove turbo build logs from physics package
  packages/physics/.turbo/turbo-build.log
Due: none

feat: add utils and validation packages, update AI and core systems
  apps/server/src/utils/router.ts
  e2e/collaboration.spec.ts
  e2e/error-handling.spec.ts
  e2e/security-integration.spec.ts
  packages/ai/src/Agent.ts
  packages/ai/src/BehaviorTree.ts
  packages/ai/src/ProceduralBehaviorGenerator.ts
  packages/analytics/src/index.ts
  packages/asset-pipeline/src/AdvancedAssetPipeline.ts
  packages/core-ecs/src/bridges/ECSBridgeService.ts
  packages/core-ecs/src/systems/MonsterAISystem.ts
  packages/core-ecs/tsconfig.json
  packages/core/tsconfig.json
  packages/net/src/GameSession.ts
  packages/utils/src/date.ts
  packages/utils/src/index.ts
  packages/utils/src/math.ts
  packages/utils/src/string.ts
  packages/utils/tsconfig.json
  packages/validation/src/index.ts
  packages/validation/src/validators.ts
  packages/validation/tsconfig.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore(security): upgrade axios to ^1.12.0 and pin patched Vite versions; bump testing to vitest ^3.2.4 with @vitest/coverage-v8; refresh lockfile
  apps/server/package.json
  package.json
  packages/auth/package.json
  packages/testing/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore: enable native Dependabot for npm and GitHub Actions (weekly)
  .github/dependabot.yml
Due: prettier --write --cache

chore: ignore generated audit-report.json
  .gitignore
Due: none

refactor: remove Prisma type dependencies and use generic types instead
  apps/server/src/ai/assistant.ts
  apps/server/src/ai/character.ts
  apps/server/src/ai/content.ts
  apps/server/src/ai/service.ts
  apps/server/src/routes/sessions.ts
  apps/server/src/websocket/websocket-server.ts
  apps/server/tsconfig.json
  packages/physics/tsconfig.json
  tsconfig.base.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: add TypeScript build logs for physics package
  packages/physics/.turbo/turbo-build.log
Due: none

refactor: strengthen Prisma typings across server services
  apps/server/package.json
  apps/server/src/auth/auth-manager.ts
  apps/server/src/routes/vtt.ts
  apps/server/src/services/MonsterService.ts
  apps/server/tsconfig.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

Fix lint issues in MapService and EncounterService
  apps/server/src/map/MapService.ts
  apps/server/src/services/EncounterService.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

build: enable composite TypeScript build for combat package
  packages/combat/package.json
Due: prettier --write --cache

chore: temporarily disable Jest coverage thresholds by setting to 0%
  jest.config.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: remove vitest dependency and add tar-fs security override
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore: update package paths and add logging dependency to content-management
  apps/server/tsconfig.json
  packages/content-management/package.json
  packages/physics/.turbo/turbo-build.log
Due: prettier --write --cache

refactor: move secrets to environment variables for better error handling in deployment workflow
  .github/workflows/deploy-production.yml
Due: prettier --write --cache

chore: add @vtt/logging dependency to content-management package
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: streamline Docker build by removing stubs and adding explicit package builds
  apps/server/Dockerfile
  apps/server/package.json
  package.json
Due: prettier --write --cache

chore: add @vtt/logging dependency to bots package
  apps/bots/package.json
Due: prettier --write --cache

chore: update dependencies and add logging package to bots app
  pnpm-lock.yaml
Due: prettier --write --cache

feat: add native dependency setup option to install-deps action
  .github/actions/install-deps/action.yml
Due: prettier --write --cache

fix: update logging package path from dist to src in tsconfig
  tsconfig.base.json
Due: prettier --write --cache

chore: update got dependency to version 11.8.6
  package.json
Due: prettier --write --cache

chore: update package dependencies and lock file versions
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: simplify TypeScript path aliases with wildcard patterns
  tsconfig.base.json
Due: prettier --write --cache

fix: only install native dependencies on Linux runners
  .github/actions/setup-native-deps/action.yml
Due: prettier --write --cache

chore: update tsconfig path mappings to include full dist and src directories
  tsconfig.base.json
Due: prettier --write --cache

ci: enable native dependency installation in all CI workflows
  .github/workflows/ci-actions-smoke.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/e2e-nightly.yml
Due: prettier --write --cache

fix: remove duplicate ensure-native-deps line in production workflow
  .github/workflows/deploy-production.yml
Due: prettier --write --cache

fix: reorder package build sequence to resolve dependency chain
  apps/server/Dockerfile
Due: none

refactor: improve type safety and move layout styles to separate CSS file
  apps/client/src/App.tsx
  apps/client/src/api/campaigns.ts
  apps/client/src/components/AdaptiveLayout.css
  apps/client/src/components/AdaptiveLayout.tsx
  apps/client/src/utils/error-utils.ts
  apps/client/src/utils/lazyLoad.tsx
  apps/client/src/utils/performance.ts
  apps/client/src/utils/performanceMonitor.ts
  apps/client/src/utils/webVitals.ts
  apps/client/src/vite-env.d.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: remove empty lines from turbo build log
  packages/physics/.turbo/turbo-build.log
Due: none

Create SECURITY.md
  SECURITY.md
Due: prettier --write --cache

feat: update actor services and tests
  apps/server/src/database/connection.ts
  apps/server/src/game/GameSession.test.ts
  apps/server/src/routes/combat.test.ts
  apps/server/src/services/ActorService.test.ts
  apps/server/src/services/ActorService.ts
  apps/server/src/services/GameServiceManager.ts
  apps/server/src/services/MonsterService.ts
  apps/server/src/services/TokenService.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

build: add performance package as dependency for ai package and include in build order
  apps/server/Dockerfile
Due: none

fix(ai): Fix Docker build errors by making @vtt/performance a regular dependency
  packages/ai/package.json
Due: prettier --write --cache

fix(server): Add @vtt/performance as direct dependency to ensure Docker prune includes it
  apps/server/package.json
Due: prettier --write --cache

chore: add @vtt/performance package dependency to workspace
  pnpm-lock.yaml
Due: prettier --write --cache

chore: update build logs with additional newlines
  packages/physics/.turbo/turbo-build.log
Due: none

chore: add server-specific ESLint config with custom rules and overrides
  apps/server/.eslintrc.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix: relax lint rules and clean up client lint
  .eslintrc.js
  apps/client/src/components/ui/Modal.tsx
  apps/client/src/test-utils/test-utils.tsx
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache
