Repository WeningerII/vtt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --max-warnings=0 --cache, prisma format --schema apps/server/prisma/schema.prisma

chore: remove unused error parameter in Modal catch block
  apps/client/src/components/ui/Modal.tsx
  packages/physics/.turbo/turbo-build.log
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix: remove type assertion and add fragment wrapper in test provider component
  apps/client/src/test-utils/test-utils.tsx
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

fix: format ai tsconfig references to resolve Docker build
  packages/ai/tsconfig.json
Due: prettier --write --cache

chore: remove whitespace in tsconfig references array
  packages/ai/tsconfig.json
Due: prettier --write --cache

chore: clean up turbo build logs in editor and auth service
  apps/editor/.turbo/turbo-build.log
  services/auth/.turbo/turbo-build.log
Due: none

Fix Docker build TypeScript error by sanitizing tsconfig.json files
  apps/server/Dockerfile
Due: none

docs: simplify README and add security audit scripts
  README.md
  package.json
  security-audit-2025-09-28.json
Due: prettier --write --cache

refactor: streamline AI package exports and remove unused provider implementations
  apps/editor/.turbo/turbo-build.log
  packages/ai/src/index.ts
  packages/ai/tsconfig.json
  services/auth/.turbo/turbo-build.log
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: implement enterprise-grade CI/CD with 99.99% reliability
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-monitoring.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/docker-publish.yml
  .github/workflows/infrastructure-drift.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/production-deployment.yml
  .github/workflows/resource-optimizer.yml
  .github/workflows/security-compliance.yml
  .github/workflows/smart-rollback.yml
  ENTERPRISE_CI_GUIDE.md
  apps/server/tsconfig.json
  package.json
Due: prettier --write --cache

fix: resolve workflow lint errors and improve reliability
  .github/workflows/ci-monitoring.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-simple.yml
  .github/workflows/deploy-production.yml
  .github/workflows/docker-publish.yml
  .github/workflows/infrastructure-drift.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/resource-optimizer.yml
  .github/workflows/security-compliance.yml
  .github/workflows/smart-rollback.yml
  apps/server/Dockerfile
Due: prettier --write --cache

fix: batch resolve remaining lint issues
  .github/workflows/ci-monitoring.yml
  .github/workflows/resource-optimizer.yml
  .github/workflows/smart-rollback.yml
Due: prettier --write --cache

fix: comprehensively resolve ALL context access warnings
  .github/workflows/deploy-cloud-agnostic.yml
  .github/workflows/deploy-production.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security.yml
Due: prettier --write --cache

refactor: remove fallback values for GitHub secrets and environment variables
  .github/workflows/ci-monitoring.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/deploy-production.yml
Due: prettier --write --cache

HOTFIX: disable excessive CI monitoring schedule and reduce resource optimizer frequency
  .github/workflows/ci-monitoring.yml
  .github/workflows/resource-optimizer.yml
Due: prettier --write --cache

fix: optimize workflow schedules to prevent system overload
  .github/workflows/ci-monitoring.yml
  .github/workflows/infrastructure-drift.yml
  WORKFLOW_SCHEDULE_CHANGES.md
Due: prettier --write --cache

e2e: stabilize resilience suite
  e2e/error-handling.spec.ts
  e2e/test-config.ts
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

feat: add scene page with offline support and token management
  .gitignore
  apps/client/package.json
  apps/client/src/components/Router.tsx
  apps/client/src/pages/ScenePage.tsx
  apps/client/src/styles/globals.css
  apps/server/prisma/test.db
  apps/server/src/index.ts
  e2e/ai-provider-failover.spec.ts
  e2e/global-setup.ts
  e2e/global-teardown.ts
  e2e/utils/database.ts
  e2e/utils/factories.ts
  netlify.toml
  package.json
  packages/physics/.turbo/turbo-build.log
  playwright.config.ts
  pnpm-lock.yaml
  services/auth/.turbo/turbo-build.log
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: add zlib1g-dev to native dependency packages
  .github/actions/setup-native-deps/action.yml
Due: prettier --write --cache

ci: move native deps setup after cache and use step outputs instead of env vars
  .github/workflows/ci.yml
  .github/workflows/performance-monitoring.yml
  CI_NATIVE_DEPS_UPDATE.md
  services/auth/.turbo/turbo-build.log
Due: prettier --write --cache

fix: improve success rate calculation and error handling in CI monitoring workflow
  .github/workflows/ci-monitoring.yml
Due: prettier --write --cache

refactor: use official Grype install script instead of manual download
  .github/workflows/security-compliance.yml
Due: prettier --write --cache

fix: improve CI monitoring workflow with better error handling and API pagination
  .github/workflows/ci-monitoring.yml
Due: prettier --write --cache

fix: improve TruffleHog installation with robust version detection and error handling
  .github/workflows/security-compliance.yml
Due: prettier --write --cache

chore: pin TruffleHog version to v3 and format tsconfig.json files
  .github/workflows/security.yml
Due: prettier --write --cache

chore: pin trufflehog version and remove strict flag from core-ecs tsconfig
  .github/workflows/security.yml
  .github/workflows/smart-rollback.yml
  packages/core-ecs/tsconfig.json
Due: prettier --write --cache

feat: enhance CI monitoring with workflow ID filtering and permission configs
  .github/workflows/ci-monitoring.yml
Due: prettier --write --cache

fix: handle undefined monitoring webhook in CI alerts gracefully
  .github/workflows/ci-monitoring.yml
Due: prettier --write --cache

fix: improve TruffleHog binary download and extraction with support for multiple archive formats
  .github/workflows/security-compliance.yml
Due: prettier --write --cache

fix: add concurrency limits to turbo commands and handle missing secrets gracefully
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/production-deployment.yml
  .github/workflows/security-compliance.yml
  apps/server/tsconfig.json
Due: prettier --write --cache

fix: properly initialize WebGL timer extension and update type imports
  packages/renderer/src/animation/AnimationSystem.ts
  packages/renderer/src/optimization/PerformanceMonitor.ts
  packages/renderer/tsconfig.json
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: remove empty lines from physics build log
  packages/physics/.turbo/turbo-build.log
Due: none

chore: remove 2 empty placeholder files and document cleanup safety verification
  .gitignore
  CLEANUP_SAFETY_REPORT.md
Due: prettier --write --cache

chore: update pnpm to 10.17.1 and switch from passport-discord to passport-discord-auth package
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/src/auth/oauth/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

chore: align pnpm to 10.17.1; fix TS6305 build order; tidy CI
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/ci-actions-smoke.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/production-deployment.yml
  package.json
  packages/audio/package.json
  packages/audio/tsconfig.json
  packages/tooling/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

chore(eslint): refine monorepo ESLint config (tsconfig paths, ignore lists, library scope)
  .eslintrc.js
Due: prettier --write --cache, eslint --fix --max-warnings=0 --cache

docs(readme): overhaul getting started and project structure in README
  README.md
Due: prettier --write --cache

refactor(build): cleanup package.json scripts and Prisma Studio alias
  package.json
Due: prettier --write --cache

Path conditions:
  prettier --write --cache: (((any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,scss,less})) or (any of: **/*.{md,mdx})) or (any of: **/*.{json,yml,yaml})
  eslint --fix --max-warnings=0 --cache: any of: **/*.{js,jsx,ts,tsx}
  prisma format --schema apps/server/prisma/schema.prisma: any of: apps/server/prisma/*.prisma
