Repository WeningerII/vtt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

feat: add new UI components and update i18n package
  apps/client/src/components/map/MapViewer.tsx
  apps/client/src/components/map/SceneSettingsModal.tsx
  apps/client/src/components/ui/Badge.tsx
  apps/client/src/components/ui/Button.tsx
  apps/client/src/components/ui/SimpleErrorBoundary.tsx
  apps/client/src/components/ui/Slider.tsx
  apps/client/src/components/ui/Switch.tsx
  apps/client/src/components/ui/Tooltip.tsx
  apps/client/src/components/ui/design-system.ts
  apps/client/src/game/GameClient.ts
  apps/client/src/hooks/index.ts
  apps/client/src/pages/LandingPage.tsx
  apps/client/tsconfig.json
  apps/client/tsconfig.tsbuildinfo
  package-lock.json
  package.json
  packages/core-ecs/.turbo/turbo-build.log
  packages/i18n/package.json
  packages/i18n/tsconfig.json
  pnpm-lock.yaml
  services/auth/package.json
  test-husky.txt
Due: prettier --write, eslint --fix --max-warnings=0

feat: Add database token relations, new conditions routes, and WebGPU improvements
  .gitignore
  apps/server/prisma/migrations/20250905155738_add_token_relations/migration.sql
  apps/server/src/campaign/CampaignService.ts
  apps/server/src/routes/campaigns.ts
  apps/server/src/routes/conditions_new.ts
  packages/core/src/WebGPUContextManager.ts
  packages/renderer/src/animation/AnimationSystem.ts
  packages/renderer/src/engine/WebGLEngine.ts
Due: prettier --write, eslint --fix --max-warnings=0

Add .eslintcache file
  .eslintcache
Due: none

feat: enhance VTT platform with improved AI combat, websocket management, and infrastructure updates
  .eslintcache
  .github/workflows/deploy-production.yml
  apps/client/nginx.conf
  apps/client/src/components/VTTApp.tsx
  apps/client/src/providers/SocketProvider.tsx
  apps/server/src/ai/combat.ts
  apps/server/src/auth/auth-manager.ts
  apps/server/src/index.ts
  apps/server/src/websocket/redis-adapter.ts
  apps/server/src/websocket/vttSocketManager.ts
  apps/server/tsconfig.tsbuildinfo
  config/health-monitor.json
  docker-compose.test.yml
  infra/k8s/production/client-deployment.yaml
  infra/k8s/production/configmap.yaml
  infra/k8s/production/ingress.yaml
  infra/k8s/production/monitoring.yaml
  infra/k8s/production/server-deployment.yaml
  packages/ai/.turbo/turbo-build.log
  packages/core/package.json
  packages/core/src/EventBus.ts
Due: prettier --write, eslint --fix --max-warnings=0

refactor: improve bundle splitting and component lazy loading
  apps/client/src/components/MapEditor.tsx
  apps/client/src/components/character/CharacterSheet.tsx
  apps/client/src/hooks/useSoundThemes.ts
  apps/client/src/utils/bundleSplitting.ts
Due: prettier --write, eslint --fix --max-warnings=0

Update server components: AI, routes, services, and tests
  apps/server/src/ai/assistant.ts
  apps/server/src/ai/combat.ts
  apps/server/src/auth/oauth/__tests__/routes.test.ts
  apps/server/src/index-minimal.ts
  apps/server/src/openapi/swagger.ts
  apps/server/src/routes/conditions.ts
  apps/server/src/routes/encounter.ts
  apps/server/src/routes/encounters.ts
  apps/server/src/routes/games.ts
  apps/server/src/routes/maps.ts
  apps/server/src/services/ActorService.test.ts
  apps/server/src/services/ConditionService.test.ts
  apps/server/src/services/EncounterService.test.ts
  apps/server/tsconfig.tsbuildinfo
Due: prettier --write, eslint --fix --max-warnings=0

ci: fix SARIF uploads and fork PR handling
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

fix(ts): remove stale monitoring reference and add logging reference in core tsconfig to resolve TS5083 in pruned Docker builds
  packages/core/tsconfig.json
Due: none

fix: update TypeScript module resolution for core-schemas package
  packages/core-schemas/tsconfig.json
Due: none

chore: update pnpm lock file
  pnpm-lock.yaml
Due: prettier --write

chore: remove build artifacts from git tracking
  apps/server/.turbo/turbo-build.log
  apps/server/tsconfig.tsbuildinfo
  packages/ai/.turbo/turbo-build.log
  packages/core-ecs/.turbo/turbo-build.log
  packages/core-schemas/.turbo/turbo-build.log
  packages/logging/src/index.d.ts.map
  packages/logging/src/index.js
  packages/logging/src/index.js.map
  packages/net/.turbo/turbo-build.log
  packages/renderer/.turbo/turbo-build.log
Due: prettier --write, eslint --fix --max-warnings=0

fix(security): resolve npm audit vulnerabilities
  package-lock.json
Due: none

fix(ci): resolve pnpm lockfile configuration mismatch and nyc coverage directory
  pnpm-lock.yaml
Due: prettier --write

fix(ci): resolve pngquant-bin and nyc coverage issues
  .github/workflows/ci-optimized.yml
  .nycrc.json
  .pnpm-store/v3/files/49/b29b00d90deb4dd58b88c466fe3d2de549327e321b0b1bcd9c28ac4a32122badb0dde725875b3b7eb37e1189e90103a4e6481640ed9eae494719af9778eca1-index.json
  .pnpm-store/v3/files/83/14e81e68bda1304d074e548d4b2b59fd0ec8de595ed0f46a939aac2d4a231db7d95a775a2991372dfcd7443378d4a0c83e6bb1a2035e5c656e73b3968ba8fb-index.json
  .pnpm-store/v3/files/c9/2f90e62de105fec6064778286f1aede04d3563462d3684c306165228c860cef3ae56033340455c78e33d6956675460ed469d7597880e68bd8c5dc79aa890db-index.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): enhance libpng-dev installation and .nyc_output handling
  .github/workflows/ci-optimized.yml
Due: prettier --write

fix(docker): copy required tsconfig files to resolve TypeScript compilation errors
  apps/server/Dockerfile
Due: none

fix(docker): ensure package directories exist before copying tsconfig files
  apps/server/Dockerfile
Due: none

fix(ci): install pnpm before setup-node to resolve caching dependency
  .github/workflows/deploy-production.yml
Due: prettier --write

fix(build): add nasm and yasm dependencies for mozjpeg and pngquant compilation
  .github/workflows/ci-optimized.yml
  .github/workflows/deploy-production.yml
  apps/client/Dockerfile
  apps/server/Dockerfile
Due: prettier --write

fix(ci): resolve workflow context access warnings and job dependencies
  .github/workflows/ci-optimized.yml
Due: prettier --write

fix(ci): resolve root causes of workflow context access warnings
  .github/workflows/ci-optimized.yml
Due: prettier --write

fix(ci): resolve all 6 workflow context access warnings comprehensively
  .github/workflows/ci-optimized.yml
Due: prettier --write

fix(ci): resolve TypeScript build failures in collaboration package
  .github/workflows/ci-optimized.yml
  packages/collaboration/package.json
  packages/collaboration/tsconfig.json
Due: prettier --write

Update package configurations and add new packages
  apps/server/Dockerfile
  packages/ai/package.json
  packages/content-creation/package.json
  packages/core/package.json
  packages/i18n/tsconfig.json
  packages/monster-ai/package.json
  packages/performance/package.json
  packages/physics-spell-bridge/package.json
  packages/ui/tsconfig.json
Due: none

Fix import ordering and TypeScript configuration
  apps/server/src/routes/conditions.ts
  apps/server/src/routes/encounters.ts
  apps/server/src/routes/genesis.ts
  packages/i18n/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write, eslint --fix --max-warnings=0

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{css,md,yml,yaml})
  eslint --fix --max-warnings=0: any of: **/*.{js,jsx,ts,tsx}
